@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

*{
    font-family: 'Gotu', sans-serif;
    color: white;
    text-shadow: 0.5px 0.5px #FF3C48;
    
}

h1{
    font-size: 8rem;
    line-height: 1.2;
    @include tablet{
        font-size: 6rem;
    }
    @include phone{
        font-size: 4rem;
    }
}

h2{
    font-size: 3rem;
    line-height: 1.2;
    @include tablet{
        font-size: 2rem;
    }
    @include phone{
        font-size: 1.5rem;
    }
}

h3, footer{
    font-size: 1.8rem;
    @include tablet{
        font-size: 1.3rem;
    }
}

button{
    font-size: 2rem;
    width: 450px;
    margin: 0 auto;
    background-color: #FF9D3E;
    border: none;
    padding: 10px;
    border-radius: 6px;
    text-shadow: none;
    transition: 0.4s;
    &:hover{
        background-color: #FF3C48;
    }
    @include tablet{
        font-size: 1.5rem;
        width: 300px;
    }
    @include phone{
        width: 250px;
    }
}

footer{
    background-color: #FFC9C9;
    color: #FF3C48;
    a{
        color: #FF3C48;
        transition: 0.4s;
        &:hover{
            color: white;
            text-shadow: none;
        }
    }
}
