@import "./setup";
@import "./colors";
@import "./fonts";


html{
    font-size: 62.5%;
}

body{
    text-align: center;
}



.wrapper{
    max-width: 1280px;
    width: 70%;
    margin: 0 auto;
}

header{
    background-color: #FFC9C9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    img{
        height: 50%;
        margin: 0 auto;
    }
}

main{
    display: none;
    #cafeImage{
        height:100vh;
        img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        display: block;
}
    }
    .audio{
        
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        img{
            height: 100px;
            width: 100px;
        }
    }
}